@import "./style/Style";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

